.container {
    max-width: 500px !important;
    max-height: 572px !important;
}

#letters-output {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    flex-wrap: wrap;
    border: 1px solid black;
}

#letters-output img {
    flex: auto;
    border: 1px solid black;
    overflow: hidden;
}

.letters {
    width:  auto; 
    height: 85px;
}

 /* Media Queries */
 @media (max-width: 480px) {
    
  }

  @media (max-width: 768px) {
    
  }

  @media (max-width: 1024px) {
    
  }

  @media (max-width: 1200px) {
    
  } 