.container {
    max-width: 600px !important;
}

.letters {
    float:right; 
    width: 96px; 
    height: auto;
}

 /* Media Queries */
 @media (max-width: 480px) {
    
  }

  @media (max-width: 768px) {
    
  }

  @media (max-width: 1024px) {
    
  }

  @media (max-width: 1200px) {
    
  } 